<div ng-controller="ColorsController">
    <P>Select color by text: </P>
    <select ng-model="myColor" ng-options="color.text for color in colors" ng-change="changeColor()"></select>

    <P>Select color by type: </P>
    <select ng-model="myColor" ng-options="color.text group by color.type for color in colors"></select>

    <span ng-class="var" >Some text</span>

    <p>Filter: <input type="text" ng-model="name"></p>
    <p>Order: <input type="text" ng-model="order"></p>

    <div ng-repeat="color in colors | filter:name"> {{ color.text }} </div>
</div>

