<div ng-app="hrApp">
    <div ng-controller="MathController">
        <!--TODO #7-->
        <p>Number A: <input type="number" ng-model="A"></p>
        <p>Number B: <input type="number" ng-model="B"></p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="calculate()">Calculate</a>
        </p>

        <p> a + b = <span>{{op1}}</span></p>

        <p> a - b = <span>{{op2}}</span></p>

        <p> a * b = <span>{{op3}}</span></p>

        <p> a / b = <span>{{op4}}</span></p>
    </div>

</div>